<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Uppgift 3/src/se/his/a14phili/HighscoreList.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="se.his.a14phili.HighscoreList"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Uppgift 3"/>
</launchConfiguration>
